.topContainer {
  display: flex;
  justify-content: space-between;
}

.headerContainer {
  font-family: sans-serif;
  color: #fff;
}

.title {
  padding-left: 1rem;
  font-size: 2rem;
}

@media (max-width: 800px) {
  .title {
    font-size: 1.5rem;
  }
}

@media (max-width: 800px) {
  .menuItems {
    padding-top: 0.25rem;
  }
}

@media (min-width: 800px) {
  .menuItems {
    padding-top: 2.25rem;
  }
}

.menuItems {
  padding-right: 1rem;

  font-size: 1rem;
  a {
    margin: 0.5rem;
    &:hover {
      cursor: pointer;
    }
  }
}
