.questionsContainer,
.accordionContainer,
.accordionDetail {
  margin: 3rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.accordionContainer {
  margin-top: unset;
  .accordionDetail {
    margin: unset;
    padding-bottom: 1rem;
  }
}

@media (max-width: 800px) {
  .accordionContainer {
    margin: unset;
    .cardContainer {
      width: 100%;
    }
  }
}
