.container {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.userInfo {
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
}

.sendContainer {
  margin-top: 1rem;
}

.imageContainer {
  margin-top: 2rem;
  text-align: center;
}
