# See http://help.github.com/ignore-files/ for more about ignoring files.

# compiled output
/dist
/tmp
/out-tsc
**/bin/*
**/ios/*
**/android/*

# dependencies
/node_modules

# IDEs and editors
/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# misc
/.sass-cache
/connect.lock
/coverage
/libpeerconnection.log
npm-debug.log
yarn-error.log
testem.log
/typings

# System Files
.DS_Store
Thumbs.db

apps/*/bin
apps/*/obj
libs/*/bin
libs/*/obj
.angular

# Configs
apps/pmt-security/appsettings.json
apps/marvintherapy-api/marvintherapy-api/appsettings.Development.json
apps/marvintherapy-api/marvintherapy-api/appsettings.json
apps/settings.ts
apps/marvintherapy-public/settings.ts
apps/marvintherapy-public/env.ts
apps/marvel-api/appsettings.Development.json
apps/marvel-api/appsettings.json
.env
apps/fantalytic-api/appsettings.Development.json
apps/fantalytic-api/appsettings.json
apps/fantalytic-api/.vs/Pmt.FantalyticApi/xs/project-cache/Pmt.FantalyticApi-Debug.json
libs/fantalytic-web-scraper/env.js
libs/fantalytic-web-scraper/data-persistence-adapters/mongo-adapter.js
libs/fantalytic-web-scraper/http/http.service.js
libs/fantalytic-web-scraper/messaging/error.service.js
libs/fantalytic-web-scraper/messaging/success.service.js
libs/fantalytic-web-scraper/models/parser.interface.js
libs/fantalytic-web-scraper/models/qb.interface.js
libs/fantalytic-web-scraper/models/rb.interface.js
libs/fantalytic-web-scraper/models/wr_te.interface.js
libs/fantalytic-web-scraper/models/defaults/qb.const.js
libs/fantalytic-web-scraper/models/defaults/rb.const.js
libs/fantalytic-web-scraper/models/defaults/wr_te.const.js
libs/fantalytic-web-scraper/parsers/command-parser.service.js
libs/fantalytic-web-scraper/parsers/help.parser.js
libs/fantalytic-web-scraper/parsers/html-parser.service.js
libs/fantalytic-web-scraper/parsers/qb-parser.service.js
libs/fantalytic-web-scraper/parsers/rb-parser.service.js
libs/fantalytic-web-scraper/parsers/wr-te-parser.service.js
libs/fantalytic-web-scraper/env.ts
libs/fantalytic-web-scraper/package-lock.json
libs/fantalytic-web-scraper/output/*
apps/fantalytic-public/src/assets/stats/*
