<ion-header>
    <ion-toolbar>
        <ion-buttons *ngIf="hasBackButton$ | async" slot="start">
            <ion-button (click)="goBack()">
                <ion-icon slot="start" name="chevron-back-outline"></ion-icon>
            </ion-button>
        </ion-buttons>
        <ion-title>Fantalytic.io</ion-title>        
        <ion-buttons slot="end">
            <ion-button id="click-trigger">
                <ion-icon slot="icon-only" name="american-football-outline"></ion-icon>
            </ion-button>
            <ion-popover trigger="click-trigger" triggerAction="click">
                <ng-template>
                    <ion-list>
                        <ion-item [ngClass]="{'active': (activeModule$ | async) === 'Football'}" (click)="switchActiveModule('Football')">
                            <ion-icon [ngClass]="{'active': (activeModule$ | async) === 'Football'}" name="american-football-outline"></ion-icon>
                            <span class="menu-label">Football</span>
                        </ion-item>
                        <ion-item (click)="switchActiveModule('Basketball')" [ngClass]="{'active': (activeModule$ | async) === 'Basketball'}">
                            <ion-icon name="basketball-outline"></ion-icon>
                            <span class="menu-label">Basketball</span>
                        </ion-item>
                        <ion-item (click)="switchActiveModule('Baseball')" [ngClass]="{'active': (activeModule$ | async) === 'Baseball'}">
                            <ion-icon name="baseball-outline"></ion-icon>
                            <span class="menu-label">Baseball</span>
                        </ion-item>
                    </ion-list>
                </ng-template>
            </ion-popover>
        </ion-buttons>     
    </ion-toolbar>
</ion-header>
