.year-container {
    select {
        margin-left: 1rem;
    }
}
.table-header, .stats-container {
    width: 100%;
    display: inline-flex;
    justify-content: space-between;
    align-items: center;
}

.player-container {
    display: inline-flex;
    align-items: center;
    padding: 1rem;
}
