<ion-content>
    <section class="tabs-container">
        <div class="year-container">
            <select (change)="updateSelectedYear($event)">
                <option *ngFor="let year of AVAILABLE_YEARS" [value]="year" [selected]="year === (selectedYear$ | async)">{{year}}</option>                
            </select>
            <select (change)="handleStatTypeChanged($event)" *ngIf="availableStatsSub$ | async as availableStats">
                <option *ngFor="let statType of availableStats" [value]="statType">{{statType}}</option>
            </select>
        </div>
        <ion-accordion-group (ionChange)="handleAccordionStateChange($event)">
            <ion-accordion *ngFor="let pos of positionsMapSub$ | async; let i = index;" [value]="pos.value">
                <ion-item slot="header">
                    <ion-label>{{pos.label}}</ion-label>
                </ion-item>
                <div class="pos-container" slot="content">
                    <ng-template #positionTable let-positionData="positionData">
                        <div class="table-header">
                            <span *ngIf="pos.label !== 'Defenses'; else team" class="ion-padding">Player</span>
                            <ng-template #team>
                                <span class="ion-padding">Team</span>
                            </ng-template>
                            <span class="ion-padding">{{currentStatHeaderSub$ | async}}</span>
                        </div>
                        
                        <ion-item *ngFor="let stat of positionData.stats; trackBy: statTrackByFn;" (click)="handlePlayerSelected(stat.id)">
                            <div class="stats-container">
                                <span class="player-container">
                                    <ion-avatar>
                                        <img [src]="stat.imgUrl" />
                                    </ion-avatar>
                                    <span>{{stat.player}}</span>
                                </span>
                                <span>{{stat.stat}}</span>
                            </div>                                 
                        </ion-item>
                            
                    </ng-template>
                    <ng-container *ngTemplateOutlet="positionTable;context:pos.ctx"></ng-container>
                </div>
            </ion-accordion>
        </ion-accordion-group>
    </section>
</ion-content>

