:host {
  width: 100vw;
  height: 100vh;

  background-repeat: no-repeat;
  background-size: cover;
}

.register-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: calc(100vh - 3rem);
  
}

.header {
  width: 85%;
  padding: 0;
  background-color: #fff;
  text-align: center;
  color: #717178;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

pmt-simple-form {
  height: calc(100% - 6rem);
  overflow: scroll;
  width: 75%;
}

