.container,
.lastAboutMe,
.educationContainer,
.awardsContainer,
.trainingContainer {
  margin: 3rem 3rem 0;
  display: flex;
  font-size: 1.25rem;
}
.lastAboutMe {
  margin-top: unset;
  margin-bottom: 3rem;
}
.educationContainer,
.awardsContainer,
.trainingContainer {
  flex-direction: column;
  .educationItemContainer {
    margin-top: 1rem;
  }
  .school {
    font-weight: bold;
    font-style: italic;
  }
  .firstSchool {
    margin-top: unset;
  }
  h3 {
    margin: unset;
  }
  ul {
    margin: unset;
  }
}

.imageContainer {
  flex: 1 1 100%;
  margin-right: 1rem;
}
.aboutMeContent {
  p {
    margin-bottom: 1rem;
  }
}
