mat-toolbar {
    color: var(--alternate-font-color);
    button {
        background-color: transparent;
    }
    mat-icon {
        color: var(--alternate-font-color);
        font-size: 2rem;
    }
    .spacer {
        flex: 1 1 auto;
    }
    input {
        &:focus {
            width: 15rem;
        }
        transition: width .5s ease-in-out;
        height: 2rem;
        width: 7rem;
        border-radius: 20px;
        padding: 0 1rem;
        font-size: 1.25rem;
        border: none;
    }
}
