<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="current-list">
      <ion-icon name="fast-food-outline"></ion-icon>
      <ion-label>Things We Have</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="items-to-get">
      <ion-icon name="add-outline"></ion-icon>
      <ion-label>Things to Get</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="recipes">
      <ion-icon name="bookmark-outline"></ion-icon>
      <ion-label>Recipes</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="profile">
      <ion-icon name="person-outline"></ion-icon>
      <ion-label>Profile</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
