.container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.imageContainer {
  margin-top: 2rem;
}

.formContainer {
  text-align: center;
  width: 80%;
  display: flex;
  flex-direction: column;
  padding-top: 1rem;
  justify-content: center;
  align-items: center;
}

@media screen and (min-width: 700px) {
  .formContainer {
    width: 50%;
  }

}

.sendContainer {
  align-self: flex-end;
}

.link {
  color: blue;
  text-decoration: underline;
}

.bold {
  font-weight: 800;
}