:host {
  top: 0;
  left: 0;
  position: absolute;
  width: 100vw;
  height: 100vh;

  background-image: url('../../assets/images/bg.jpeg');
  background-repeat: no-repeat;
  background-size: cover;
}

.register-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

pmt-simple-form {
  background-color: #fff;
  width: 30%;
  padding: 4rem;
}
