<main class="container">
    <form novalidate [formGroup]="loginForm">
        <div class="form-container">
            <div class="title-container">
                <h2>Login</h2>
            </div>
            <ion-item lines="none">
                <ion-icon src="../../assets/svg/person.svg"></ion-icon>
                <pmt-input (changeEvent)="handleFormUpdate('user', $event)" placeholder="User" [isMobile]="true" formControlName="user"></pmt-input>
            </ion-item>
            <ion-item lines="none">
                <ion-icon src="../../assets/svg/lock-open.svg"></ion-icon>
                <pmt-input (changeEvent)="handleFormUpdate('password', $event)" placeholder="Password" [isMobile]="true" formControlName="password"></pmt-input>
            </ion-item>
            
            <div class="login-button-container">
                <ion-button [disabled]="loginForm.invalid" type="submit">Login</ion-button>
            </div>

            <div class="bio-container">
                <label>Use Biometrics</label>
                <ion-icon src="../../assets/svg/fingerprint.svg" size="large"></ion-icon>
            </div>

            <div class="links-container">
                
                    <button class="link">Forgot User</button>
                    <button class="link">Forgot Password</button>
            </div>
            <div class="register-container">
                <button (click)="loginStateSvc.routeToRegisterUser()" class="link">Register User</button>
            </div>
        </div>

    </form>
</main>


