/* You can add global styles to this file, and also import other style files */

body {
    margin: 0;
}

header {
    display: inline-flex;
    width: 100vw;
    height: 5rem;
    background-color: #325ca8;
    color: #fff;
}

main {
    margin: 2rem;
}

h1 {
    font-size: 3rem;
}