
    <pmt-mobile-toolbar class="header" title="Current Items">
    </pmt-mobile-toolbar>

    <ion-content>
        <ion-list>
            <ion-item lines="full">
                <div class="grocery-item-container">
                    <span class="item-name">Milk</span>
                    <div class="item-details">
                        <div class="details-container">
                            <span class="label">Date Purchased:</span>
                            <span>1/1/2022</span>
                        </div>
                        <div class="details-container">
                            <span class="label">Qty Left:</span>
                            <span>3</span>
                        </div>
                    </div>
                </div>
            </ion-item>
        </ion-list>
    </ion-content>

